apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: "{{ .Values.name }}-virtual-service"
  namespace: "{{ .Values.name }}-virtual-service"
spec:
  hosts:
    {{- range .Values.hosts }}
    - {{ . }}
    {{- end }}
  gateways:
    {{- range .Values.gateways }}
    - {{ . }}
    {{- end }}
  http:
      {{- range .Values.expose }}
    - match:
        - uri:
            prefix: {{ .prefix | quote }}
          {{- if .reRewrite }}
          rewrite:
            uri: {{ .reRewrite | quote }}
          {{- end }}
      route:
        - destination:
            {{- if or .overrideNamespace .overrideSvc}}
            host: "{{ .overrideSvc }}-svc.{{ .overrideNamespace }}.svc.cluster.local"
            {{- else }}
            host: "{{ .serviceName }}-svc.{{ .serviceName }}.svc.cluster.local"
            {{- end }}
            port:
              {{- if .port }}
              number: {{ .port | int }}
              {{- else }}
              number: {{ $.Values.defaultPort }}
              {{- end }}
      {{- end }}