apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: "{{ .Values.name }}-virtual-service"
  namespace: "{{ .Values.name }}-virtual-service"
spec:
  hosts:
    {{- range .Values.hosts }}
    - {{ . }}
    {{- end }}
  gateways:
    {{- range .Values.gateways }}
    - {{ . }}
    {{- end }}
  http:
      {{- range .Values.expose }}
      {{- if or .overrideSvc}}
    - name: "Virtual service rules for service: {{ .overrideSvc }}"
      {{- else }}
    - name: "Virtual service rules for service: {{ .serviceName }}"
      {{- end }}
      match:
        - uri:
            {{- if .prefix }}
            prefix: {{ .prefix | quote }}
            {{- end }}
        - uri:
            {{- if .exact }}
            exact: {{ .exact | quote }}
            {{- end }}
      {{- if .uriRewrite }}
      rewrite:
        uri: {{ .uriRewrite | quote }}
      {{- end }}
      route:
        - destination:
            {{- if or .overrideNamespace .overrideSvc}}
            host: "{{ .overrideSvc }}.{{ .overrideNamespace }}.svc.cluster.local"
            {{- else }}
            host: "{{ .serviceName }}-svc.{{ .serviceName }}.svc.cluster.local"
            {{- end }}
            port:
              {{- if .port }}
              number: {{ .port | int }}
              {{- else }}
              number: {{ $.Values.defaultPort }}
              {{- end }}
      {{- end }}