apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: "{{ .Values.name }}-virtual-service"
  namespace: "{{ .Values.name }}"
spec:
  hosts:
    {{- range .Values.hosts }}
    - {{ . }}
    {{- end }}
  gateways:
    {{- range .Values.gateways }}
    - {{ . }}
    {{- end }}
  http:
    - match:
        - uri:
            prefix: /.well-known/acme-challenge/
      route:
        - destination:
            host: {{ .Values.name }}-cert-manager-solver.{{ .Values.istioNamespace }}.svc.cluster.local
            port:
              number: 8089
      {{- range .Values.expose }}
    - match:
        - uri:
            {{- if .prefix }}
            prefix: {{ .prefix | quote }}
            {{- end }}
            {{- if .exact }}
            exact: {{ .exact | quote }}
            {{- end }}
      {{- if .uriRewrite }}
      rewrite:
        uri: {{ .uriRewrite | quote }}
      {{- end }}
      {{- if .headers.set }}
      headers:
        request:
          set:
            {{- range $key, $value := .headers.set }}
            {{ $key }}: {{ $value | quote }}
            {{- end }}
      {{- end }}
      route:
        - destination:
            {{- if or .overrideNamespace .overrideSvc}}
            host: "{{ .overrideSvc }}.{{ .overrideNamespace }}.svc.cluster.local"
            {{- else }}
            host: "{{ .serviceName }}-svc.{{ .serviceName }}.svc.cluster.local"
            {{- end }}
            port:
              {{- if .port }}
              number: {{ .port | int }}
              {{- else }}
              number: {{ $.Values.defaultPort | int }}
              {{- end }}
      {{- end }}